*{
	margin: 0;
	padding: 0;
	font-family: Bahnschrift SemiCondensed;
}
header{
	background-color: rgb(26,70,80);
	height: 66px;
}
ul {
	  float: right;
	  list-style-type: none;
	  margin: 25px;

}
ul li{
	display: inline-block;

}
ul li a{
	padding: 15px;
	color: #fff;
	text-decoration: none;
}
img{
	width: 300px;
	height: 50px;
	margin-top: 10px;
	padding-left: 30px;
}
.home{
	border: 3px solid;
	border-color: rgb(210,159,19);
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
.home:hover{
	text-decoration: underline;
	color: rgb(210,159,19);
}
.gallery:hover{
	text-decoration: underline;
	color: rgb(210,159,19);
}
.contact:hover{
	text-decoration: underline;
	color: rgb(210,159,19);
}
.div2{
	height: 400px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../rocket.jfif);
	background-position: center;
}
.title1{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%); 
	color: #fff;
	font-size: 50px;
}
h2{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(210,159,19);
}
h3{
	font-style: thin;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 48%;
	transform: translate(-50%,-50%);
	border: 1px solid;
	border-color: #fff;
	padding: 15px;
	border-color: rgb(210,159,19);
}
h3:hover{
	background-color: rgb(210,159,19);
	color: white;
	transition:0.6s;
}
.prices{
	position: absolute;
	top: 80%;
	left: 10%;
	transform: translate(-50%,-50%);
	color: rgb(0,49,60);
	font-size: 30px;
}
.img2{
	position: absolute;
	top: 93%;
	left: 14%;
	transform: translate(-50%,-50%);
	width: 230px;
	height: 150px;
}
.announ{
	position: absolute;
	top: 80%;
	left: 37%;
	transform: translate(-50%,-50%);
	color: rgb(0,49,60);
	font-size: 30px;
}
.h5{
	position: absolute;
	top: 88%;
	left: 32%;
	transform: translate(-50%,-50%);
	font-size: 15px;
	color: rgb(222,167,19);
}
.link1{
	position: absolute;
	top: 92%;
	left: 36%;
	transform: translate(-50%,-50%);
	font-family: Bahnschrift SemiCondensed;
	font-size: 17px;
	text-decoration: none;
	color: rgb(115,117,124);
}
.link1:hover{
	text-decoration: underline;
	transform: 0.6s;
}
.h51{
	position: absolute;
	top: 98%;
	left: 32%;
	transform: translate(-50%,-50%);
	font-size: 15px;
	color: rgb(222,167,19);
}
.link2{
	position: absolute;
	top: 102%;
	left: 37%;
	transform: translate(-50%,-50%);
	font-family: Bahnschrift SemiCondensed;
	font-size: 17px;
	text-decoration: none;
	color: rgb(115,117,124);
}
.link2:hover{
	text-decoration: underline;
	transform: 0.6s;
}
.h52{
	position: absolute;
	top: 106%;
	left: 32%;
	transform: translate(-50%,-50%);
	font-size: 15px;
	color: rgb(222,167,19);
}
.link3{
	position: absolute;
	top: 110%;
	left: 34%;
	transform: translate(-50%,-50%);
	font-family: Bahnschrift SemiCondensed;
	font-size: 17px;
	text-decoration: none;
	color: rgb(115,117,124);
}
.link3:hover{
	text-decoration: underline;
	transform: 0.6s;
}
.downloads{
	position: absolute;
	top: 80%;
	left: 57%;
	transform: translate(-50%,-50%);
	color: rgb(0,49,60);
	font-size: 30px;
}
.h53{
	position: absolute;
	top: 88%;
	left: 54%;
	transform: translate(-50%,-50%);
	font-size: 15px;
	color: rgb(222,167,19);
}
.link4{
	position: absolute;
	top: 92%;
	left: 59%;
	transform: translate(-50%,-50%);
	font-family: Bahnschrift SemiCondensed;
	font-size: 17px;
	text-decoration: none;
	color: rgb(115,117,124);
}
.link4:hover{
	text-decoration: underline;
	transform: 0.6s;
}
.h54{
	position: absolute;
	top: 98%;
	left: 54%;
	transform: translate(-50%,-50%);
	font-size: 15px;
	color: rgb(222,167,19);
}
.new{
	position: absolute;
	top: 80%;
	left: 77%;
	transform: translate(-50%,-50%);
	color: rgb(0,49,60);
	font-size: 30px;
}
.h55{
	position: absolute;
	top: 88%;
	left: 76%;
	transform: translate(-50%,-50%);
	font-size: 15px;
	color: rgb(222,167,19);
}
.link5{
	position: absolute;
	top: 96%;	
	left: 82%;
	transform: translate(-50%,-50%);
	font-family: Bahnschrift SemiCondensed;
	font-size: 17px;
	text-decoration: none;
	color: rgb(115,117,124);
}
.link5:hover{
	text-decoration: underline;
	transform: 0.6s;
}
